@use "./variables" as *;

.about {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-width: 100%;

  &__title {
    font-size: 2rem;
    padding: 15px;
    margin-top: 20px;
    font-family: $title-font, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, $blue-opacity, $blue-opacity);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 0.8rem; /* Adjust the 3px to your desired thickness of the underline */
    background-origin: content-box;
    color: white;
    display: inline-block;
  }

  &__area {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .about__image--self {
      width: 40%;
      height: auto;
      margin: 20px;
      border-radius: 20px;
    }

    .about__image--cartoon {
      display: none;
    }
  }

  &__description {
    font-family: $main-font, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: $color-blue;
    width: 90%;
  }

  @media screen and (min-width: 768px) {
    &__title {
      margin-top: 5rem;
      font-size: 2rem;
    }

    &__area {
      flex-direction: row;

      .about__image--self {
        width: 30%;
        margin: 40px;
      }
    }

    &__description {
      padding: 30px;
      font-size: 1em;
    }
  }

  @media screen and (min-width: 1024px) {
    &__area {
      .about__image--self {
        display: none;
      }

      .about__image--cartoon {
        display: flex;
        width: 35%;
        margin: 40px;
      }
    }

    &__description {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: 1440px) {
    &__description {
      font-size: 1.5rem;
    }

    &__title {
      font-size: 3rem;
    }
  }
}
