.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  &__title {
    font-size: 1.5rem;
  }
}

.skills-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  gap: 15px; /* Adjust the spacing between images as needed */

  &__image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    width: 2rem;
    margin-bottom: 20px;
  }
}
