@use "./variables" as *;

.about {
  max-width: 100%;
  .about__title {
    font-size: 2rem;
    padding: 15px;
    margin-top: 20px;
    font-family: $title-font Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__area {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about__description {
    font-family: $main-font, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 20px;
    width: 50;
  }
  img {
    width: 70%;
    height: auto;
  }
}
