@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');


//Colour Scheme
$background-color: #272727;
$text-color: #747474;
$item-color: #FFE400;
$color-red: #ff652f;
$opacity: 0.65;

$rgba-color: rgba($color-red, $opacity);

//Font styles
$title-font: "Roboto";
$main-font: "Quicksand";
