@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
.nav {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem;
  align-items: center;
  height: 5rem;
  max-width: 100%;
}
.nav__logo {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  justify-content: flex-start;
  align-items: center;
}
.nav__tabs .nav__icon {
  height: 3rem;
  width: 3rem;
}
.nav__tabs .nav__button {
  display: none;
  font-size: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #A8D0E6;
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__title {
  font-size: 0.75rem;
}
.intro__subtitle {
  font-size: 3.5rem;
  font-family: "Roboto";
}
.intro__subtitle span {
  background-image: linear-gradient(rgba(247, 108, 108, 0.8), rgba(247, 108, 108, 0.8));
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 100% 22px;
}
.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  border: #f76c6c 2px solid;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  margin: 30px 0px;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.skills__title {
  font-size: 1.5rem;
}

.skills-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  gap: 15px; /* Adjust the spacing between images as needed */
}
.skills-grid__image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  width: 2rem;
  margin-bottom: 20px;
}

.about__title {
  font-size: 1.5rem;
  padding: 15px;
  margin-top: 20px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__description {
  font-family: "Quicksand" Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 20px;
}

.projects__title {
  padding: 20px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
}

.grid-container .grid-item {
  width: 90%;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
}
.grid-container .grid-item:nth-last-child(-n+3) {
  display: none;
}

.footer {
  background-color: #F8E9A1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.footer .footer__images {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.footer .footer__image--logo {
  width: 50px;
  background-color: #F8E9A1;
}
.footer .footer__text {
  background-color: #F8E9A1;
  font-size: 14px;
  color: #24305E;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=main.css.map */