@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
.about {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  max-width: 100%;
}
.about__title {
  font-size: 2em;
  padding: 15px;
  margin-top: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, rgba(39, 38, 67, 0.7), rgba(39, 38, 67, 0.7));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-origin: content-box;
  color: white;
  display: inline-block;
}
.about__area {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.about__area .about__image--self {
  width: 40%;
  height: auto;
  margin: 20px;
  border-radius: 20px;
}
.about__area .about__image--cartoon {
  display: none;
}
.about__description {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #272643;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-top: 5em;
    font-size: 2em;
  }
  .about__area {
    flex-direction: row;
  }
  .about__area .about__image--self {
    width: 30%;
    margin: 40px;
  }
  .about__description {
    padding: 30px;
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .about__area .about__image--self {
    display: none;
  }
  .about__area .about__image--cartoon {
    display: flex;
    width: 35%;
    margin: 40px;
  }
  .about__description {
    font-size: 1em;
  }
}
@media screen and (min-width: 1440px) {
  .about__description {
    font-size: 1.5em;
  }
  .about__title {
    font-size: 3em;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #a8d0e6;
  color: white;
}

@media screen and (min-width: 768px) {
  .body section {
    margin-left: 40px;
    margin-right: 40px;
  }
}
.footer {
  background-color: #f8e9a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.footer__images {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.footer__image--logo {
  width: 50px;
  background-color: #f8e9a1;
  margin: 0;
  cursor: pointer;
}
.footer__text {
  background-color: #f8e9a1;
  font-size: 1em;
  color: #24305e;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .footer__text {
    font-size: 1.5em;
  }
  .footer__image--logo {
    width: auto;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.intro__title {
  font-size: 2em;
  font-family: "Quicksand";
  font-weight: bold;
}
.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 15em;
  height: 3em;
  border: #f76c6c 2px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #f76c6c;
  margin: 4em 0 4em 0;
}
.intro__area--subtitle {
  margin: 0.8em 0.5em 0em 0.5em;
  font-size: 3em;
  font-family: "Roboto";
}
.intro__area--subtitle span {
  background-image: linear-gradient(rgba(247, 108, 108, 0.7), rgba(247, 108, 108, 0.7));
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 100% 0.4em;
  margin: 0;
}
.intro__area--image {
  display: none;
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  .intro {
    margin: 4em;
  }
  .intro__title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .intro__area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  .intro__area--subtitle {
    font-size: 2em;
    text-align: center;
    margin: 2em 0 2.2em 0;
  }
  .intro__button {
    margin: 4em 0 4em 0;
  }
}
@media screen and (min-width: 1024px) {
  .intro__title {
    font-size: 2.5em;
  }
  .intro__area {
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }
  .intro__area--subtitle {
    font-size: 3.5em;
    margin: 0 20px 0 0;
  }
  .intro__area--image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30%;
  }
  .intro__button {
    font-size: 1.5em;
    width: 20em;
    height: 5em;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem;
  align-items: center;
  height: 5rem;
  max-width: 100%;
}
.nav__logo {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}
.nav__tabs .nav__icon {
  height: 3rem;
  width: 3rem;
}
.nav__tabs .nav__button {
  display: none;
  font-size: 0;
  cursor: pointer;
}
.nav__tabs--button-right {
  margin-left: 10px;
  height: 2rem;
  background-size: 0 0;
}
@media screen and (min-width: 768px) {
  .nav {
    max-width: 100%;
  }
  .nav__logo {
    font-size: 1.5rem;
  }
  .nav__tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }
  .nav__tabs .nav__icon {
    display: none;
  }
  .nav__tabs .nav__button {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 1rem;
    color: white;
    width: auto;
    text-decoration: none;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(39, 38, 67, 0.7), rgba(39, 38, 67, 0.7));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto 0.2rem;
    background-origin: content-box;
    color: white;
    display: inline-block;
  }
  .nav__tabs .nav__button--button-right {
    height: 2rem;
    background-size: 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    height: 7rem;
  }
  .nav__logo {
    font-size: 2rem;
  }
  .nav__tabs .nav__button {
    font-size: 2rem;
  }
  .nav__tabs .nav__button--button-right {
    height: 2.5rem;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  max-width: 100%;
}
.projects__title {
  font-size: 2em;
  padding: 15px;
  margin-top: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(39, 38, 67, 0.7), rgba(39, 38, 67, 0.7));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-origin: content-box;
  color: white;
  display: inline-block;
}
.projects .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
}
.projects .grid-container .grid-item {
  width: 90%;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
}
.projects .grid-container .grid-item:nth-last-child(-n+3) {
  display: none;
}
@media screen and (min-width: 768px) {
  .projects__title {
    font-size: 2em;
    margin-bottom: 30px;
  }
  .projects .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .projects .grid-container .grid-item:nth-last-child(-n+3) {
    display: flex;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.skills__title {
  font-size: 2em;
  font-family: "Roboto";
  background-image: linear-gradient(to right, rgba(39, 38, 67, 0.7), rgba(39, 38, 67, 0.7));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 0.4em; /* Adjust the 3px to your desired thickness of the underline */
  background-origin: content-box;
  color: white;
  display: inline-block;
  padding: 1em 0 1em 0;
}
.skills .skills-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}
.skills .skills-grid .skills__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
  width: 5em;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .skills__title {
    font-size: 2em;
  }
  .skills .skills-grid {
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    margin-bottom: 1em;
  }
  .skills .skills-grid .skills__image {
    width: 7%;
    height: auto;
    margin: 10px 10px;
  }
}/*# sourceMappingURL=main.css.map */