@use "./variables-tablet" as *;

@media screen and (min-width: 768px) {
  .about {
    &__title {
      margin-top: 5rem;
      font-size: 2rem;
    }

    .about__area {
      flex-direction: row;

      .about__image--self {
        width: 30%;
        margin: 40px;
      }
    }

    &__description {
      padding: 30px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    .about__area {
      .about__image--self {
        display: none;
      }
      .about__image--cartoon {
        display: flex;
        width: 35%;
        margin: 40px;
      }
    }
    &__description {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .about {
    &__description {
      font-size: 1.5rem;
    }
    &__title {
      font-size: 3rem;
    }
  }
}
