@use "./variables-tablet" as *;

@media screen and (min-width: 768px) {
  .nav {
    max-width: 100%;
    &__logo {
      font-size: 1.5rem;
    }
    &__tabs {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      .nav__icon {
        display: none;
      }
      .nav__button {
        display: flex;
        align-items: flex-end;
        font-size: 1.5rem;
        color: white;
        width: 50%;
        text-decoration: none;
        font-family: $main-font, Arial, Helvetica, sans-serif;
        &--button-right {
          margin-left: 10px;
          height: 30px;
          width: auto;
        }
      }
    }
  }
}
