@use "./variables" as *;

.footer {
  background-color: $item-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;

  .footer__images {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer__image--logo {
    width: 50px;
    background-color: $item-color;
    margin: 0;
    cursor: pointer;
  }

  .footer__text {
    background-color: $item-color;
    font-size: 1rem;
    color: #24305e;
    font-family: $main-font, Arial, Helvetica, sans-serif;
  }
}
