@use "./variables" as *;

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  &__title {
    font-size: 2rem;
    font-family: $main-font;
    font-style: bold;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 15rem;
    height: 3rem;
    border: $color-red 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px $color-red;
    margin: 30px 0px;
  }

  &__area {
    &--subtitle {
      margin: 1.5rem;
      font-size: 3rem;
      font-family: $title-font;
      span {
        background-image: linear-gradient($rgba-color, $rgba-color);
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 100% 1rem;
        margin: 0;
      }
    }
    &--image {
      display: none;
      border-radius: 25px;
    }
  }
}
