@use "./variables" as *;

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-width: 100%;

  &__title {
    font-size: 2rem;
    background-image: linear-gradient(to right, $blue-opacity, $blue-opacity);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 0.8rem; /* Adjust the 3px to your desired thickness of the underline */
    background-origin: content-box;
    color: white;
    display: inline-block;
  }
}

.skills-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  gap: 15px; /* Adjust the spacing between images as needed */

  .skills__image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 6rem;
    width: 5rem;
    margin-bottom: 20px;
  }
}
