@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');


//Colour Scheme
$background-color: #A8D0E6;
$text-color: white;
$item-color: #F8E9A1;
$color-red: #f76c6c;
$opacity: 0.8;

$rgba-color: rgba($color-red, $opacity);

//Font styles
$title-font: "Roboto";
$main-font: "Quicksand";

//For grid items:
$items-to-show: 3
